<div>
  <h3><%= @list.title %></h3>

  <ul>
    <% @list.items.each do |item| %>
      <li><%= item.text %></li>
    <% end %>
  </ul>

  <%= link_to "Edit This list", edit_list_path(@list) %>
  <%= link_to "View All Lists", lists_path %>
</div>

